body{
    font-family:sans-serif;
}
ul{
    life-style:none:
    padding:0;
}
li{
    padding:10px;
    border-bottom: 1px solid black;
}
.largekitten{
    display: none;
}
@media screen and (min-width:480px){
.small kitten{
    display:none;
}
.largekitten{
    display:inline;
}
@media screen and (max-width: width 800px)
ul li{
    float:left;
    border:none;
    border-right: 1px solid black;
}
